/*This is the css file*/
body {
    background-color: #191A1C;
}

p {
    font-size: 150%;
}

.headerImage {
   max-width: 100%;
   width: 100%;
   text-align: center;
   font-size: 100%;
}
img:nth-child(1) {
    border: 0px none;
    align: center;
    background-color: #293269;
<<<<<<< HEAD
}
.navbar {
    background-color: #000099;
}
.dropdown {
    text-color: white;
}
=======
    max-width: 100%;
}
>>>>>>> 733847d23fa6e0e2e5071ea3901fd3fee9d53bb9
